.site {
	display: grid;
	gap: 32px;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"sidebar"
		"main"
		"footer";
	
	@media screen and (min-width: 700px) {
		grid-template-areas:
		"header header"
		"sidebar main"
		"sidebar main"
		"footer footer";
		grid-template-columns: ($size__site-sidebar) auto;
		}
		
}

.site__header, .site__sidebar, .site__main, .site__footer{
	padding: 1vh 6vw;
}


.site__header {
	grid-area: header;
    background-color: lighten($color__background-zonegrid, 20%);
    position: fixed;
	top: 0;
	z-index: 999999;
    width: 100%;
@media screen and (min-width: 700px) {
	position: static;
}
	h2{
		color: $color__orangered;
	}

	a {
		text-decoration: none;
		color: white !important;
	}

}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	p{
		font-size: 1.2rem;
		line-height: 1.6rem;
		letter-spacing: .035rem;
	}
	h1{
		font-size: 2.5rem;
	}
	h2{
		margin-top: 3rem;
    font-size: 1.7rem;
    color: $color__text-main;
		a{
			text-decoration:none;
		}
	}

	img{
		max-width: 400px;
		display: block;
	}
	a{
		color: initial;
	}
	
}

.site__sidebar {
	grid-area: sidebar;
	background-color: lighten($color__background-zonegrid, 95%);
	margin-top: 4rem;
	@media screen and (min-width: 700px) {
		margin-top: 0;
		padding: 1rem 1rem 1rem 4rem;
	}
	
	h3{
		color: $color__link;
	}

}

.site__footer {
	grid-area: footer;
	background-color: lighten($color__background-zonegrid, 5%);
	text-align: center;
	h2{
		color: $color__link-header;
		font-size: 1.3rem;
	}
}



// @import "no-sidebar";
